<div class="third"> 

<form action="{{ path('add_to_cart', {'recipe_id': recipe.id}) }}" method="post">


        {% if recipe.hasImage() %}
        <div class="product with-image">
            <div class="recipe-image" style="background:url('{{recipe.getImageUrl()}}');"></div>
        {% else %}
        <div class="product">
        {% endif %}
    
        <div class="top">
        
            <h2 class="editContent">{{ recipe.name }}</h2>
            
            <div class="price-container"><p class="price">${{ recipe.price }}</p></div>
        
        </div><!-- /.top -->
        
        
        <div class="bottom">
            
            <div class="editContent">
            <p class="ingredient-label">Ingredients</p>
            <ul>
                {% for recipeIngredient in recipe.recipeIngredients %}
                <li><i class="fa fa-flask" aria-hidden="true"></i> <i>{{ recipeIngredient.quantity }} {{ recipeIngredient.ingredient.measure }}</i> of <b>{{ recipeIngredient.ingredient.name }}</b></li>
                {% endfor %}
            </ul>
            </div><!-- /.editContent -->
            
            {% set remainingProducts = recipe.products|length %}
            
            <footer>
                <div>
                    {% if remainingProducts > 0 %}
                        <p><button type="submit" class="button"><span class="fa"></span>Add To Cart</button></p>
                    {% endif %}
                </div>
                <p>{{ remainingProducts }} Remaining</p>
            </footer>
            
        </div><!-- /.bottom -->
    
    </div><!-- /.pricing1 -->

</form>
</div><!-- /.col-md-4 col -->
